html {
  background: url("../img/ramblas.jpg") no-repeat center center fixed;
  background-size: cover;
}

* {
  text-align: center;
}

h1 {
  color: #965705;
  font-size: 50px;
  line-height: 40px;
  font-weight: 700;
  margin: 0 5px 0;
  float: none;
  padding: 5px;
  margin: 0 5px 0;
  font-family: "Libre Baskerville", serif;
}

p {
  font-size: 40px;
  font-weight: 300;
  font-family: fantasy;
  color: rgb(255, 2, 2);
}

#gamePlace {
  position: relative;
  margin-top: 250px;
}

button {
  border: 1px solid rgba(255, 255, 255, 0.01);
  background-color: rgba(255, 255, 255, 0.01);
}

img {
  width: 100px;
  height: 130px;
}

#littleBall {
  background: rgb(9, 255, 0);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  bottom: 20px;
  z-index: -1;
  position: absolute;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: cupAroundDown;
          animation-name: cupAroundDown;
  transition-timing-function: ease;
}

#cups {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 0;
}

#cup1 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: cup1AroundDown;
          animation-name: cup1AroundDown;
}

#cup2 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: cup2AroundDownRight;
          animation-name: cup2AroundDownRight;
}

.cupUp {
  /* position: absolute;  */
  z-index: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: cupUp;
          animation-name: cupUp;
  -webkit-animation-play-state: unset;
          animation-play-state: unset;
}

.cupAround {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: cupAround;
          animation-name: cupAround;
  -webkit-animation-play-state: unset;
          animation-play-state: unset;
}

#score {
  height: 100px;
  width: 300px;
  position: relative;
  right: -80%;
  top: -10%;
  background-color: black;
  border: 5px, solid, greenyellow;
}

@-webkit-keyframes cupUp {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 100%;
    transform: scale(0.7);
  }
  100% {
    bottom: 0%;
  }
}

@keyframes cupUp {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 100%;
    transform: scale(0.7);
  }
  100% {
    bottom: 0%;
  }
}
@-webkit-keyframes cup1AroundUp {
  0% {
    transform: rotate(-180deg) translateX(0px) rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@keyframes cup1AroundUp {
  0% {
    transform: rotate(-180deg) translateX(0px) rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes cup1AroundDown {
  0% {
    transform: rotate(180deg) translateX(0px) rotate(-180deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@keyframes cup1AroundDown {
  0% {
    transform: rotate(180deg) translateX(0px) rotate(-180deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes cup2AroundUpRight {
  0% {
    transform: rotate(-180deg) translateX(0px) rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@keyframes cup2AroundUpRight {
  0% {
    transform: rotate(-180deg) translateX(0px) rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes cup2AroundDownRight {
  0% {
    transform: rotate(180deg) translateX(0px) rotate(-180deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@keyframes cup2AroundDownRight {
  0% {
    transform: rotate(180deg) translateX(0px) rotate(-180deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) translateX(505px) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes cup2AroundUpLeft {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(-180deg) translateX(505px) rotate(180deg) scale(1);
  }
}
@keyframes cup2AroundUpLeft {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(-180deg) translateX(505px) rotate(180deg) scale(1);
  }
}
@-webkit-keyframes cup2AroundDownLeft {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(0.7);
  }
  100% {
    transform: rotate(180deg) translateX(505px) rotate(-180deg) scale(1);
  }
}
@keyframes cup2AroundDownLeft {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(0.7);
  }
  100% {
    transform: rotate(180deg) translateX(505px) rotate(-180deg) scale(1);
  }
}
@-webkit-keyframes cup3AroundUp {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(-180deg) translateX(505px) rotate(180deg) scale(1);
  }
}
@keyframes cup3AroundUp {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) translateX(255px) rotate(90deg) scale(0.7);
  }
  100% {
    transform: rotate(-180deg) translateX(505px) rotate(180deg) scale(1);
  }
}
@-webkit-keyframes cup3AroundDown {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(0.7);
  }
  100% {
    transform: rotate(180deg) translateX(505px) rotate(-180deg) scale(1);
  }
}
@keyframes cup3AroundDown {
  0% {
    transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) translateX(255px) rotate(-90deg) scale(0.7);
  }
  100% {
    transform: rotate(180deg) translateX(505px) rotate(-180deg) scale(1);
  }
}/*# sourceMappingURL=main.css.map */