
  html { 
    background: url('../img/ramblas.jpg') no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
  }

  * {
    text-align: center;
  }

  h1 {
    color: #965705; font-size: 50px; line-height: 40px; font-weight: 700; margin: 0 5px 0; float: none; padding: 5px; margin: 0 5px 0; font-family: 'Libre Baskerville', serif; 
  }

  p {
    font-size: 40px;
    font-weight: 300;
    font-family: fantasy;
    color: rgb(255, 2, 2);
  }

  canvas {
    border:3px solid #000000;
  }

  /* img {
    transform: rotate(180deg);
  } */


  #cups {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cup {
    width: 100px;
    height: 150px;
     
  }