
  html { 
    background: url('../img/ramblas.jpg') no-repeat center center fixed; 
    background-size: cover;
  }

  * {
    text-align: center;
  }

  h1 {
    color: #965705; 
    font-size: 50px; 
    line-height: 40px; 
    font-weight: 700;
    margin: 0 5px 0; 
    float: none; 
    padding: 5px; 
    margin: 0 5px 0; 
    font-family: 'Libre Baskerville', serif; 
  }

  p {
    font-size: 40px;
    font-weight: 300;
    font-family: fantasy;
    color: rgb(255, 2, 2);
  }

  #gamePlace {
    position: relative;
    margin-top: 250px;
  }

  button {
    border:1px solid rgba(255, 255, 255, 0.01);
    background-color: rgba(255, 255, 255, 0.01);
    
  }

  img {
    width: 100px;
    height: 130px;
  }

  #littleBall {
    background: rgb(9, 255, 0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: 20px;
    
    z-index: -1;
    position: absolute;
    animation-delay: 5s;
    animation-duration: 8s;
    animation-name: littleballanimation;
    
  }

  #cups {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 0;
    animation-duration: 5s;
    animation-name: cupanimation;
  }

  
  .cup {
    /* position: absolute;  */
    z-index: 0;
    animation-duration: 5s;
    animation-name: cupanimation;
    animation-play-state: unset;
  } 

  @keyframes cupanimation {
    
    0% {bottom: 0%;}
    50% {bottom: 100%;}
    100% {bottom: 0%;}
  }

  @keyframes littleballanimation {
    0% {right: 24%;}
    20% {right: 24%;}
    25% {right: 50%;}
    50% {right: 76%;}
    75% {right: 50%;}
    100% {right: 24%;}
  }

  